<!DOCTYPE html>
<html>
    <head>
        <title>
                Student Data
        </title>
    </head>

    <body>
        <h1>
                Student Details
        </h1>
        <table border='2' id="student-details-table">
            <tr>
                <th>Student Id</th>
                <th>Course Id</th>
                <th>Marks</th>
            </tr>
            {% for r in range(0,len(res)) %}
                <tr>
                    <td>{{res[r][0]}}</td>
                    <td>{{res[r][1]}}</td>
                    <td>{{res[r][2]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan='2' style="text-align: center;">Total Marks</td>
                <td>{{total}}</td>
            </tr>
        </table>
        <br>
        <a href="/">Go back</a>
    </body>
</html>